### Problem Statement 6
Perform the following operations using Python on the heart diseases data sets a. Data cleaning b.
Data integration c. Data transformation d. Error correcting e. Data model building.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("heart.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### a)Data Cleaning

In [5]:
data.shape

(1025, 14)

In [6]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [22]:
df=data.dropna()
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,false,having ST-T wave abnormality,168,no,1.0,downsloping,2.0,reversable defect,0
1,53,male,typical angina,140,203,true,normal,155,yes,3.1,unsloping,0.0,reversable defect,0
2,70,male,typical angina,145,174,false,having ST-T wave abnormality,125,yes,2.6,unsloping,0.0,reversable defect,0
3,61,male,typical angina,148,203,false,having ST-T wave abnormality,161,no,0.0,downsloping,1.0,reversable defect,0
4,62,female,typical angina,138,294,true,having ST-T wave abnormality,106,no,1.9,flat,3.0,fixed defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,false,having ST-T wave abnormality,164,yes,0.0,downsloping,0.0,fixed defect,1
1021,60,male,typical angina,125,258,false,normal,141,yes,2.8,flat,1.0,reversable defect,0
1022,47,male,typical angina,110,275,false,normal,118,yes,1.0,flat,1.0,fixed defect,0
1023,50,female,typical angina,110,254,false,normal,159,no,0.0,downsloping,0.0,fixed defect,1
1024,54,male,typical angina,120,188,false,having ST-T wave abnormality,113,no,1.4,flat,1.0,reversable defect,0

In [23]:
df1=data.drop_duplicates()
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,false,having ST-T wave abnormality,168,no,1.0,downsloping,2.0,reversable defect,0
1,53,male,typical angina,140,203,true,normal,155,yes,3.1,unsloping,0.0,reversable defect,0
2,70,male,typical angina,145,174,false,having ST-T wave abnormality,125,yes,2.6,unsloping,0.0,reversable defect,0
3,61,male,typical angina,148,203,false,having ST-T wave abnormality,161,no,0.0,downsloping,1.0,reversable defect,0
4,62,female,typical angina,138,294,true,having ST-T wave abnormality,106,no,1.9,flat,3.0,fixed defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,female,non-anginal pain,120,211,false,normal,115,no,1.5,flat,0.0,fixed defect,1
733,44,female,non-anginal pain,108,141,false,having ST-T wave abnormality,175,no,0.6,flat,0.0,fixed defect,1
739,52,male,typical angina,128,255,false,having ST-T wave abnormality,161,yes,0.0,downsloping,1.0,reversable defect,0
843,59,male,asymptomatic,160,273,false,normal,125,no,0.0,downsloping,0.0,fixed defect,0
878,54,male,typical angina,120,188,false,having ST-T wave abnormality,113,no,1.4,flat,1.0,reversable defect,0

### B) Data Integration

In [25]:
df1['age'].mean()

54.420529801324506

In [26]:
df1['age'].median()

55.5

In [27]:
df1['age'].mode()

0    58
dtype: int64

### c) Data transformation

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [8]:
data['sex']=data['sex'].replace([0,1],['female','male'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,male,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,male,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,male,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,female,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,male,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,male,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,female,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,male,0,120,188,0,1,113,0,1.4,1,1,3,0

In [9]:
data['cp']=data['cp'].replace([0,1,2,3],['typical angina','atypical angina','non-anginal pain','asymptomatic'])

In [10]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,0,1,168,0,1.0,2,2,3,0
1,53,male,typical angina,140,203,1,0,155,1,3.1,0,0,3,0
2,70,male,typical angina,145,174,0,1,125,1,2.6,0,0,3,0
3,61,male,typical angina,148,203,0,1,161,0,0.0,2,1,3,0
4,62,female,typical angina,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,male,typical angina,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,male,typical angina,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,female,typical angina,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,male,typical angina,120,188,0,1,113,0,1.4,1,1,3,0

In [11]:
data['exang']=data['exang'].replace([0,1],['no','yes'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,0,1,168,no,1.0,2,2,3,0
1,53,male,typical angina,140,203,1,0,155,yes,3.1,0,0,3,0
2,70,male,typical angina,145,174,0,1,125,yes,2.6,0,0,3,0
3,61,male,typical angina,148,203,0,1,161,no,0.0,2,1,3,0
4,62,female,typical angina,138,294,1,1,106,no,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,0,1,164,yes,0.0,2,0,2,1
1021,60,male,typical angina,125,258,0,0,141,yes,2.8,1,1,3,0
1022,47,male,typical angina,110,275,0,0,118,yes,1.0,1,1,2,0
1023,50,female,typical angina,110,254,0,0,159,no,0.0,2,0,2,1
1024,54,male,typical angina,120,188,0,1,113,no,1.4,1,1,3,0

In [12]:
data['slope']=data['slope'].replace([0,1,2],['unsloping','flat','downsloping'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,0,1,168,no,1.0,downsloping,2,3,0
1,53,male,typical angina,140,203,1,0,155,yes,3.1,unsloping,0,3,0
2,70,male,typical angina,145,174,0,1,125,yes,2.6,unsloping,0,3,0
3,61,male,typical angina,148,203,0,1,161,no,0.0,downsloping,1,3,0
4,62,female,typical angina,138,294,1,1,106,no,1.9,flat,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,0,1,164,yes,0.0,downsloping,0,2,1
1021,60,male,typical angina,125,258,0,0,141,yes,2.8,flat,1,3,0
1022,47,male,typical angina,110,275,0,0,118,yes,1.0,flat,1,2,0
1023,50,female,typical angina,110,254,0,0,159,no,0.0,downsloping,0,2,1
1024,54,male,typical angina,120,188,0,1,113,no,1.4,flat,1,3,0

In [13]:
data['thal']=data['thal'].replace([0,1,2,3],['nan','normal','fixed defect','reversable defect'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,0,1,168,no,1.0,downsloping,2,reversable defect,0
1,53,male,typical angina,140,203,1,0,155,yes,3.1,unsloping,0,reversable defect,0
2,70,male,typical angina,145,174,0,1,125,yes,2.6,unsloping,0,reversable defect,0
3,61,male,typical angina,148,203,0,1,161,no,0.0,downsloping,1,reversable defect,0
4,62,female,typical angina,138,294,1,1,106,no,1.9,flat,3,fixed defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,0,1,164,yes,0.0,downsloping,0,fixed defect,1
1021,60,male,typical angina,125,258,0,0,141,yes,2.8,flat,1,reversable defect,0
1022,47,male,typical angina,110,275,0,0,118,yes,1.0,flat,1,fixed defect,0
1023,50,female,typical angina,110,254,0,0,159,no,0.0,downsloping,0,fixed defect,1
1024,54,male,typical angina,120,188,0,1,113,no,1.4,flat,1,reversable defect,0

In [14]:
data['fbs']=data['fbs'].replace([0,1],['false','true'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,false,1,168,no,1.0,downsloping,2,reversable defect,0
1,53,male,typical angina,140,203,true,0,155,yes,3.1,unsloping,0,reversable defect,0
2,70,male,typical angina,145,174,false,1,125,yes,2.6,unsloping,0,reversable defect,0
3,61,male,typical angina,148,203,false,1,161,no,0.0,downsloping,1,reversable defect,0
4,62,female,typical angina,138,294,true,1,106,no,1.9,flat,3,fixed defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,false,1,164,yes,0.0,downsloping,0,fixed defect,1
1021,60,male,typical angina,125,258,false,0,141,yes,2.8,flat,1,reversable defect,0
1022,47,male,typical angina,110,275,false,0,118,yes,1.0,flat,1,fixed defect,0
1023,50,female,typical angina,110,254,false,0,159,no,0.0,downsloping,0,fixed defect,1
1024,54,male,typical angina,120,188,false,1,113,no,1.4,flat,1,reversable defect,0

In [15]:
data['restecg']=data['restecg'].replace([0,1,2],['normal','having ST-T wave abnormality','hypertropy'])
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,male,typical angina,125,212,false,having ST-T wave abnormality,168,no,1.0,downsloping,2,reversable defect,0
1,53,male,typical angina,140,203,true,normal,155,yes,3.1,unsloping,0,reversable defect,0
2,70,male,typical angina,145,174,false,having ST-T wave abnormality,125,yes,2.6,unsloping,0,reversable defect,0
3,61,male,typical angina,148,203,false,having ST-T wave abnormality,161,no,0.0,downsloping,1,reversable defect,0
4,62,female,typical angina,138,294,true,having ST-T wave abnormality,106,no,1.9,flat,3,fixed defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,male,atypical angina,140,221,false,having ST-T wave abnormality,164,yes,0.0,downsloping,0,fixed defect,1
1021,60,male,typical angina,125,258,false,normal,141,yes,2.8,flat,1,reversable defect,0
1022,47,male,typical angina,110,275,false,normal,118,yes,1.0,flat,1,fixed defect,0
1023,50,female,typical angina,110,254,false,normal,159,no,0.0,downsloping,0,fixed defect,1
1024,54,male,typical angina,120,188,false,having ST-T wave abnormality,113,no,1.4,flat,1,reversable defect,0

In [29]:
df2 = df1.groupby("ca")["age"].mean()
df2

ca
0.0    51.645714
1.0    57.476923
2.0    59.789474
3.0    59.900000
Name: age, dtype: float64

In [30]:
df3 = df2.rename("newage").reset_index()
df3

    ca     newage
0  0.0  51.645714
1  1.0  57.476923
2  2.0  59.789474
3  3.0  59.900000

In [31]:
df4 = pd.merge(df1,df3)
df4

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,newage
0,52,male,typical angina,125,212,false,having ST-T wave abnormality,168,no,1.0,downsloping,2.0,reversable defect,0,59.789474
1,54,male,typical angina,122,286,false,normal,116,yes,3.2,flat,2.0,fixed defect,0,59.789474
2,67,female,typical angina,106,223,false,having ST-T wave abnormality,142,no,0.3,downsloping,2.0,fixed defect,1,59.789474
3,58,female,atypical angina,136,319,true,normal,152,no,0.0,downsloping,2.0,fixed defect,0,59.789474
4,66,female,typical angina,178,228,true,having ST-T wave abnormality,165,yes,1.0,flat,2.0,reversable defect,0,59.789474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,65,female,typical angina,150,225,false,normal,114,no,1.0,flat,3.0,reversable defect,0,59.900000
294,63,female,typical angina,150,407,false,normal,154,no,4.0,flat,3.0,reversable defect,0,59.900000
295,69,male,non-anginal pain,140,254,false,normal,146,no,2.0,flat,3.0,reversable defect,0,59.900000
296,58,male,typical angina,128,216,false,normal,131,yes,2.2,flat,3.0,reversable defect,0,59.900000
297,52,male,typical angina,108,233,true,having ST-T wave abnormality,147,no,0.1,downsloping,3.0,reversable defect,1,59.900000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   object
 2   cp        1025 non-null   object
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   object
 6   restecg   1025 non-null   object
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   object
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   object
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   object
 13  target    1025 non-null   int64
dtypes: float64(1), int64(6), object(7)
memory usage: 112.2+ KB

In [17]:
data.ca.unique()

array([2, 0, 1, 3, 4], dtype=int64)

In [18]:
data['ca'].value_counts()

0    578
1    226
2    134
3     69
4     18
Name: ca, dtype: int64

In [19]:
data[data['ca']==4]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
52,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
83,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
128,52,male,non-anginal pain,138,223,false,having ST-T wave abnormality,169,no,0.0,downsloping,4,fixed defect,1
208,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
242,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
290,52,male,non-anginal pain,138,223,false,having ST-T wave abnormality,169,no,0.0,downsloping,4,fixed defect,1
340,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
348,43,male,typical angina,132,247,true,normal,143,yes,0.1,flat,4,reversable defect,0
417,52,male,non-anginal pain,138,223,false,having ST-T wave abnormality,169,no,0.0,downsloping,4,fixed defect,1
428,43,male,typical angina,132,247,true,normal,143,yes,0.1,flat,4,reversable defect,0
465,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
521,58,male,atypical angina,125,220,false,having ST-T wave abnormality,144,no,0.4,flat,4,reversable defect,1
597,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
743,58,male,atypical angina,125,220,false,having ST-T wave abnormality,144,no,0.4,flat,4,reversable defect,1
749,58,male,atypical angina,125,220,false,having ST-T wave abnormality,144,no,0.4,flat,4,reversable defect,1
831,58,male,atypical angina,125,220,false,having ST-T wave abnormality,144,no,0.4,flat,4,reversable defect,1
970,38,male,non-anginal pain,138,175,false,having ST-T wave abnormality,173,no,0.0,downsloping,4,fixed defect,1
993,43,male,typical angina,132,247,true,normal,143,yes,0.1,flat,4,reversable defect,0

In [20]:
data['ca']=data['ca'].replace(4,np.nan)

In [21]:
data.ca.unique()

array([ 2.,  0.,  1.,  3., nan])